<div id="path-submit">
    <p>请输入起点：</p>
    <input v-model="origin"/>
    <p>请输入起点城市：</p>
    <input v-model="originRegion"/>
    <p>请输入终点：</p>
    <input v-model="destination"/>
    <p>请输入终点城市：</p>
    <input v-model="destinationRegion"/>
    <p></p>
    <button :disabled="!origin || !originRegion || !destination || !destinationRegion" @click="submitPath">确认</button>
    <p></p>
    <recommand-route v-bind:data="recommandRoute"></recommand-route>
</div>

<!--<div id="recommand-route">-->
<!--{{route}}-->
<!--</div>-->


<script type="text/javascript">

    Vue.component('recommand-route', {
        template: `
    <pre>
      {{ data }}
    </pre>
  `,
        props: ['data']
    })

    var pathSubmit = new Vue({
        el: '#path-submit',
        data: {
            origin: '联合汽车电子',
            destination: '世纪公园',
            originRegion: '上海',
            destinationRegion: '上海',
            apiUrl: '/api/route/get',
            recommandRoute: '只有提交输入起点和终点才能看到规划路径!'
        },
        methods: {
            submitPath: function () {
                this.$http.get('/api/route/get', {params: this.$data}).then(response => {
                    this.$set(this.$data, 'recommandRoute', JSON.stringify(response.data, null, '\t'))
                }).catch(function (err) {
                    console.log(err)
                })
            }
        }
    })

    //    var recommandRoute = new Vue({
    //        el: '#recommand-route',
    //        data: {
    //            route: '只有提交输入起点和终点才能看到规划路径',
    //        }
    //    })
</script>
